# Artifacts and temp folders
.artifacts/**
.tmp/**

# Engine + Secrets + databases
.env
.engine/**
test-harness/.engine
.db/**

# Dependencies
test-harness/coldbox/**
test-harness/docbox/**
test-harness/testbox/**
test-harness/logs/**
test-harness/modules/**

# modules
modules/**

# log files
logs/**
